$white: #ffffff;
$main-color: #0e76fd;
$error-color: #ff0000;
$light-blue-color: #eeefff;
$grey-color: #626c76;
$light-grey-color: #77838f33;
$dark-blue-color: #044497;
$orange-color: #b47d00;
$light-orange-color: #db9a0433;
$green-color: #02977e;
$light-green-color: #00c9a733;
$description-color: #767c8f;
